$logoColor: #5D3EBD;

.app-component {
    .content {
        display: flex;
        flex-direction: row;
        min-height: 100vh;

        .status-area {
            flex: 1;
            background-color: #eaeaea;
            display: flex;
            flex-direction: column;

            .status-list {
                list-style-type: none;
                padding-left: 1rem;
                margin-bottom: 0;

                >div {
                    height: 50px;
                    display: flex;
                    align-items: center;
                }

                li {
                    transition: margin-left .2s ease;
                    height: 50px;
                    display: flex;
                    align-items: center;

                    &:hover {
                        cursor: pointer;
                        margin-left: 3px;
                    }

                    span {
                        margin-right: 5px;
                    }
                }

                .active {
                    font-weight: 600;
                    color: $logoColor;
                }
            }
        }

        .add-list-area {
            flex: 3;
            display: flex;
            flex-direction: column;
            padding: 0 1rem;
            background-color: #fafafa;
            margin-bottom: 1rem;
            padding-bottom: 1rem;

            .add-bar {
                display: flex;
                justify-content: center;

                input {
                    color: $logoColor;
                    border-bottom-right-radius: 0;
                    border-top-right-radius: 0;
                    width: 50%;
                }

                button {
                    background: $logoColor;
                    border-color: $logoColor;
                    color: white;
                    font-weight: 600;
                    border-bottom-left-radius: 0;
                    border-top-left-radius: 0;
                }
            }

            .list-tasks {
                list-style-type: none;
                padding-left: 0;
                margin-bottom: 0;

                .task {
                    display: flex;
                    border-bottom: 1px solid lightgray;
                    padding-bottom: 1rem;
                    margin-top: 1rem;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    .task-name {
                        flex: 2;
                    }

                    .remaining-time {
                        display: flex;
                        flex: 1;
                        flex-direction: column;
                        color: darkblue;

                        >span {
                            margin-bottom: 5px;
                        }
                    }

                    .delete-task {
                        cursor: pointer;
                        color: #ff5858;
                        margin-left: 1rem;
                        font-weight: 600;
                        flex: 1;

                        .undo {
                            color: rgb(91, 173, 206);
                        }
                    }

                    .task-date {
                        flex: 1;
                    }
                }

                .completed {
                    span {
                        text-decoration-line: line-through;
                        text-decoration-color: $logoColor;
                        color: grey;
                    }
                }
            }

            .left-items-info {
                margin-top: 3px;
            }

            .list-by-date {
                align-self: flex-end;
            }

            .ant-pagination {
                text-align: right;
                margin-top: 10px;
            }
        }
    }
}

.ant-input:focus,
.ant-input-focused,
.ant-input:hover {
    border-color: $logoColor !important;
    box-shadow: none !important;
}

.ant-checkbox-checked .ant-checkbox-inner {
    background: $logoColor !important;
    border-color: $logoColor !important;
}

@media screen and (max-width: 600px) {
    .app-component {
        .content {
            flex-direction: column;

            .status-area {
                margin-bottom: 1rem;
            }

            .add-list-area {
                .add-bar {
                    width: 100%;
                }

                .list-by-date {
                    margin-bottom: 1rem;
                }
            }
        }
    }

}