@import './constants/colors.scss';

.app-component {
    .content {
        display: flex;
        flex-direction: row;
        min-height: 100vh;

        .status-area {
            flex: 1;
            background-color: #eaeaea;
            display: flex;
            flex-direction: column;
        }

        .add-list-area {
            flex: 3;
            display: flex;
            flex-direction: column;
            padding: 0 1rem;
            background-color: #fafafa;
            margin-bottom: 1rem;
            padding-bottom: 1rem;

            .list-by-date {
                align-self: flex-end;
                width: 160px;
            }

            .ant-pagination {
                text-align: right;
                margin-top: 10px;
            }
        }
    }
}

.ant-input:focus,
.ant-input-focused,
.ant-input:hover {
    border-color: $logoColor !important;
    box-shadow: none !important;
}

.ant-checkbox-checked .ant-checkbox-inner {
    background: $logoColor !important;
    border-color: $logoColor !important;
}

@media screen and (max-width: 600px) {
    .app-component {
        .content {
            flex-direction: column;

            .status-area {
                margin-bottom: 1rem;
            }

            .add-list-area {
                .add-bar {
                    width: 100%;
                }

                .list-by-date {
                    margin-bottom: 1rem;
                }
            }
        }
    }

}